<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{input type="search" value=query class="form-control" autofocus='autofocus'}}
        </div>
    </div>
    <div class="col-md-12">
        {{outlet}}
    </div>
</div>
